/* mobile */
@media (max-width: 576px) {
  .imageslider {
    width: 100%;
  }

  .findplace {
    background-color: #79c2df;
    width: 100%;
  }

  .placecontainer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .right {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .tourimg {
    border-radius: 12px;
    width: 60%;
    transition: opacity 0.5s ease-in-out;
  }

  .left {
    width: 70%;
    border-radius: 12px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    padding: 5px 0 5px 0;
  }

  .textwrapper {
    width: 90%;
  }

  .tourinfo {
    text-align: center;
    font-size: 1.3rem;
  }

  .btnwrapper {
    width: 90%;
  }

  .searchbtn {
    width: 100%;
    text-align: center;
    border-radius: 5px;
    border: none;
    background-color: #79c2df;
    font-size: 12px;
    color: white;
    font-weight: 600;
    padding: 3px 0 3px 0;
  }

  /*  Our Service.tsx */
  .oursevice {
    margin: 0 10px 0 10px;
  }

  .service_heatmap {
    width: 100%;
  }

  .hr_bar {
    display: none;
  }

  /* PopularDestination.tsx */
  .populardestination {
    margin: 0 10px 0 10px;
  }

  /* Subscribe.tsx */
  .subs {
    background-color: #79c2df;
    text-align: center;
    padding: 10px 0 10px 0;
    margin-top: 20px;
  }

  .subsinfo1,
  .subsinfo2 {
    color: white;
  }

  .subsbtn {
    border-radius: 30px;
    border: 1.5px solid white;
    background-color: transparent;
    color: white;
    font-weight: 500;
  }
}

@media (min-width: 576px) {
  .App {
    background-color: white;
  }

  /* FindPlace.tsx */

  .findplace {
    background-color: #79c2df;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    align-items: center;
  }

  .placecontainer {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
  }

  .left {
    width: 50%;
    height: 100%;
    flex: 1;
  }

  .right {
    width: 50%;
  }

  .textwrapper {
    height: 50%;
  }

  .tourinfo {
    font-family: "Song Myung";
    font-size: 30px;
    color: white;
    font-weight: bold;
    margin-bottom: 0;
  }

  .btnwrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    margin-top: 10px;
    height: 28%;
    background-color: white;
  }

  .searchbtn {
    align-items: center;
    margin-left: 5px;
    width: 75%;
    height: 90%;
    border: 0px solid;
    border-radius: 12px;
    text-align: center;
    background-color: rgb(26, 55, 77);
    color: white;
  }

  .tourimg {
    border-radius: 110px;
    width: 60%;
    height: 170%;
    object-fit: cover;
    box-shadow: 10px 10px 10px gray;
    transition: opacity 0.5s ease-in-out;
  }

  /* OurService.tsx */
  .oursevice {
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .servicetext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .h2_service {
    justify-items: center;
    font-family: "Source Serif 4";
  }

  .servicerow {
    width: 70%;
  }

  .service_heatmap {
    width: 100%;
  }

  /* populardestination.tsx */
  .populardestination {
    /* height: 400px; */
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .imageslider {
    width: 70%;
  }

  /* Subscribe */
  .subs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    height: 300px;
    background-color: #79c2df;
  }

  .subsinfo1 {
    font-size: 23px;
    color: white;
    font-family: "Source Serif 4";
  }

  .subsinfo2 {
    font-size: 18px;
    color: white;
    font-family: "Source Serif 4";
  }

  .subsbtn {
    width: 130px;
    height: 50px;
    border-radius: 30px;
    border: 3px solid white;
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-size: 14px;
  }
}
