.loginform {
  display: flex;
  flex-direction: column;
  border: 0.5px solid gray;
  border-radius: 3;
  justify-content: center;
  width: 320px;
  height: 170px;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.LoginButton {
  width: 310px;
  height: 25px;
}

.email {
  width: 290px;
  height: 25px;
  background-image: url("../../../public/assets/email_icon.png");
  background-size: 16px 16px; /* 이미지 크기 설정 */
  background-repeat: no-repeat;
  background-position: 4px center; /* 아이콘 위치 조정 */
  padding-left: 24px; /* Input 텍스트와 아이콘 사이 간격 조정 */
  border: 1px solid gray;
  border-radius: 5px;
}

.password {
  width: 290px;
  height: 25px;
  background-image: url("../../../public/assets/password_icon.png");
  background-size: 16px 16px; /* 이미지 크기 설정 */
  background-repeat: no-repeat;
  background-position: 4px center; /* 아이콘 위치 조정 */
  padding-left: 24px; /* Input 텍스트와 아이콘 사이 간격 조정 */
  border: 1px solid gray;
  border-radius: 5px;
}

.checkmessage {
  color: red;
  font-weight: 500;
  font-size: 11px;
  margin-left: 10px;
}

.loginButton {
  width: 320px;
  height: 25px;
  font-size: 16px;
  border-radius: 12px;
}

@media (max-width: 768px) {
  .LoginButton {
    width: 200px;
  }

  .email {
    width: 200px;
  }

  .password {
    width: 200px;
  }
}
