.App {
  background-color: #f8f9fa;
}

.sevice_login {
  margin-top: -50px;
  display: flex;
  justify-content: center;
  height: 600px;
}

.login {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  width: 500px;
  height: 530px;
  background-color: white;
  padding-top: 10px;
}

.space_or {
  display: flex;
  align-items: center;
  text-align: center;
  width: 300px;
  margin: 10px 0;
}

.space_or::before,
.space_or::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: black;
}

.space_or span {
  margin: 0 10px;
}

.find_signup {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
