.loginform {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border-radius: 3;
  justify-content: center;
  align-items: center;
  width: 340px;
  align-items: center;
  margin-bottom: 10px;
}

.LoginButton {
  width: 310px;
  height: 25px;
}

.email {
  width: 290px;
  height: 35px;
  background-image: url("../../../public/assets/email_icon.png");
  background-size: 16px 16px; /* 이미지 크기 설정 */
  background-repeat: no-repeat;
  background-position: 4px center; /* 아이콘 위치 조정 */
  padding-left: 24px; /* Input 텍스트와 아이콘 사이 간격 조정 */
  border: none;
  border-bottom: 1px solid #d9d9d9;
  font-size: 14px;
}

.password {
  width: 290px;
  height: 35px;
  background-image: url("../../../public/assets/password_icon.png");
  background-size: 16px 16px; /* 이미지 크기 설정 */
  background-repeat: no-repeat;
  background-position: 4px center; /* 아이콘 위치 조정 */
  padding-left: 24px; /* Input 텍스트와 아이콘 사이 간격 조정 */
  border: none;
  border-bottom: 1px solid #d9d9d9;
  font-size: 14px;
}

.checkmessage {
  color: red;
  font-weight: 500;
  font-size: 11px;
  margin-left: 10px;
}

.loginButton {
  width: 290px;
  height: 35px;
  font-size: 16px;
  color: white;
  border-radius: 12px;
  border: none;
  background-color: #79c2df;
}

.findpwd {
  margin-top: 10px;
  margin-bottom: 10px;
  align-self: end;
  margin-right: 10px;
  color: #666666;
}

.findpwd:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .LoginButton {
    width: 200px;
  }

  .email {
    width: 200px;
  }

  .password {
    width: 200px;
  }
}

.loginemail {
  width: 255px;
  height: 30px;
  background-image: url("../../../public/assets/email_icon.png");
  background-size: 16px 16px; /* 이미지 크기 설정 */
  background-repeat: no-repeat;
  background-position: 4px center; /* 아이콘 위치 조정 */
  padding-left: 28px; /* Input 텍스트와 아이콘 사이 간격 조정 */
  border: none;
  border-bottom: 1px solid #d9d9d9;
  font-size: 10px;
}

.loginpassword {
  width: 255px;
  height: 30px;
  background-image: url("../../../public/assets/verify_icon.png");
  background-size: 16px 16px; /* 이미지 크기 설정 */
  background-repeat: no-repeat;
  background-position: 4px center; /* 아이콘 위치 조정 */
  padding-left: 28px; /* Input 텍스트와 아이콘 사이 간격 조정 */
  border: none;
  border-bottom: 1px solid #d9d9d9;
  font-size: 10px;
}
